{% extends 'base.html.twig' %}

{% block title %}New StockChange{% endblock %}

{% block body %}
    <h1>Create new StockChange</h1>

    {{ include('stock_change/_form.html.twig') }}

    <a href="{{ path('app_stockchange_index') }}">back to list</a>
{% endblock %}
