{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <h2>Nueva Partida</h2>

    <h3> Selecciona una carta</h3>

    {% for card in gameCards %}
    <form action="/game/new" method="post">
        <input type="hidden" name="card" value="{{ card.id }}">
        <button type="submit">{{ card.number }} de {{ card.suit }}</button>
    </form>
    <br>
    {% endfor %}

    <br>
    <a href="{{ path('app_game_index') }}">back to list</a>
{% endblock %}
